ul{
  list-style-type: none;
}

#identite, #identite legend{
  background-color: #2574A9;
}

#livraison, #livraison legend{
  background-color: #DB0A5B;
}

#paiement, #paiement legend{
  background-color: #DB0A5B;
}

input {
  border-radius: 0px;
}
